.information_table_outer {
  position: absolute;
  background-color: rgb(212, 212, 212);
  border: 1px solid rgb(38, 38, 38);
  top: 38%;
  left: 31%;
  width: 35%;
  padding: 15px;
  flex-direction: column;
  display: flex;
}

.information_table_outer > span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.information_table_outer label {
  display: flex;
  margin-bottom: 5px;
}

.information_table_outer input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  border: none;
}

.information_table_outer button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.information_table_outer button:hover {
  background-color: #45a049;
}

.members {
  display: flex;
  flex-wrap: wrap;
}

.member {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.member span {
  margin-right: 5px;
}

.member button {
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
